// Animations
@keyframes waving-hand {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(75deg);
    }
}
main {
    padding: 2rem 0;
} // Main styles
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.waving-hand-emoji {
    display: inline-block;
    font-size: 3.2rem;
    animation:0.4s ease-in-out 8 alternate waving-hand;
}