img{
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.item-title{
	font-weight: 500;
	display: block;
}

@media screen and (min-width: 600px){
   
    img{
        width: 520px;
    }

   #main-container{
        max-width: 600px;
    }
}

