img{
	width: 100%;
	display: block;
}

.item-title{
	font-weight: 500;
	display: block;
}

.post-item{
	margin-bottom: 4rem;
	&:last-child{
		margin-bottom: 0;
	}
}

@media screen and (min-width: 600px){
   
    img{
        width: 520px;
    }

   #main-container{
        max-width: 600px;
    }
}

