// Light Variables
$light-background: #ffffff;
$light-foreground: #2b2b2b;
$light-foreground-secondary: #575757;

// Dark Variables
$dark-background: #2b2b2b;
$dark-foreground: #ffffff;
$dark-foreground-secondary:#cccccc;
