<footer>
	<div class="container">	
		<a id="back-to-top" href="#">
			Back to top			
		</a>

		<ul class="extra-site-links">
			<li>
				<a href="{{ get_url(path='/rss.xml') }}">RSS Feed</a>
			</li>
			<li>
				<a href="{{ get_url(path='@/privacy-policy/index.md') }}">Privacy Policy</a>
			</li>
		</ul>

		{% include "partials/newsletter.html" %}


		<div class="zola-credit">Made with <a href="https://www.getzola.org">Zola</a></div>
		{% include "partials/webring.html" %}

		
		{% include "partials/donations.html" %}
		<div class="site-timestamp">&copy; Colin Kiama - {{ now() | date(format="%Y") }}</div>
	</div>
</footer>
