<header>
	<div class="container">
		<nav>

			<div id="site-name">
				<img src="{{ config.extra.portrait|safe }}" alt="Portrait of me (Colin Kiama) smiling.">
				Colin Kiama
			</div>
			<ul>
				<li>
					<a href="{{ get_url(path='/') }}">Home</a>
				</li>

				<li>
					<a href="{{ get_url(path='@/portfolio/index.md') }}">Portfolio</a>
				</li>

				<li>
					<a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a>
				</li>

				<li>
					<a href="{{ get_url(path='@/contact-me/index.md') }}">Contact Me</a>
				</li>
			</ul>
		</nav>
	</div>
</header>