<form action="https://buttondown.email/api/emails/embed-subscribe/colinkiama" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/colinkiama', 'popupwindow')" class="embeddable-buttondown-form">
	<span>Subscribe to my newsletter</span>
	<br>
	<div>
		<label for="bd-email">Email:</label>
		<br>
		<input type="email" name="email" id="bd-email" autocomplete="email" placeholder="my@email.com">
		<input type="submit" value="Subscribe">
	</div>
	<p>
		<a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
	</p>
</form>