<ul>
	<li>
		<a rel="author" href="{{ config.extra.socials.email|safe }}">
			<!-- <svg></svg> --> <!-- Logo --> Email
		</a>
	</li>
	<li>
		<!-- <svg></svg> -->
		<a rel="author" href="{{ config.extra.socials.linkedin|safe }}">LinkedIn</a>
	</li>
	<li>
		<!-- <svg></svg> -->
		<a rel="author" href="{{ config.extra.socials.twitter|safe }}">Twitter</a>
	</li>
	
	<li>
		<!-- <svg></svg> -->
		<a rel="me" href="{{ config.extra.socials.mastodon|safe }}">Mastodon</a>
	</li>
	
	<li>
		<!-- <svg></svg> -->
		<a rel="author" href="{{ config.extra.socials.product_hunt|safe }}">Product Hunt</a>
	</li>
	
	<li>
		<!-- <svg></svg> -->
		<a rel="author" href="{{ config.extra.socials.dev_to|safe }}">Dev.to</a>
	</li>
</ul>