<ul>
	<li>
		<a rel="author" href="{{ config.extra.socials.email }}">
			<!-- <svg></svg> --> <!-- Logo --> Email
		</a>
	</li>
	<li>
		<!-- <svg></svg> -->
		<a rel="author" href="{{ config.extra.socials.linkedin }}">LinkedIn</a>
	</li>
	<li>
		<!-- <svg></svg> -->
		<a rel="author" href="{{ config.extra.socials.twitter }}">Twitter</a>
	</li>
	
	<li>
		<!-- <svg></svg> -->
		<a rel="me" href="{{ config.extra.socials.mastodon }}">Mastodon</a>
	</li>
	
	<li>
		<!-- <svg></svg> -->
		<a rel="author" href="{{ config.extra.socials.product_hunt }}">Product Hunt</a>
	</li>
	
	<li>
		<!-- <svg></svg> -->
		<a rel="author" href="{{ config.extra.socials.dev_to }}">Dev.to</a>
	</li>
</ul>