<ul class="social-links">
	<li>
		<a rel="author" href="{{ config.extra.socials.email|safe }}">
			{{ icon_macros::sprite_icon(name="mail") }}
			Email
		</a>
	</li>
	<li>
		<a rel="author" href="{{ config.extra.socials.github|safe }}">
			{{ icon_macros::sprite_icon(name="github") }}
			Github
		</a>
	</li>
	<li>
		<a rel="author" href="{{ config.extra.socials.itch_io|safe }}">
			{{ icon_macros::sprite_icon(name="itch-io") }}
			itch.io
		</a>
	</li>
	<li>
		<a rel="author" href="{{ config.extra.socials.linkedin|safe }}">
			{{ icon_macros::sprite_icon(name="linkedin") }}
			LinkedIn
		</a>
	</li>
	<li>
		<a rel="author" href="{{ config.extra.socials.twitter|safe }}">
			{{ icon_macros::sprite_icon(name="twitter") }}
			Twitter
		</a>
	</li>

	<li>
		<a rel="me" href="{{ config.extra.socials.mastodon|safe }}">
			{{ icon_macros::sprite_icon(name="mastodon") }}
			Mastodon
		</a>
	</li>

	<li>
		<a rel="author" href="{{ config.extra.socials.twitch|safe }}">
			{{ icon_macros::sprite_icon(name="twitch") }}
			Twitch
		</a>
	</li>

	<li>
		<a rel="author" href="{{ config.extra.socials.product_hunt|safe }}">
			{{ icon_macros::sprite_icon(name="product-hunt") }}
			Product Hunt
		</a>
	</li>

	<li>
		<a rel="author" href="{{ config.extra.socials.dev_to|safe }}">
			{{ icon_macros::sprite_icon(name="dev-community") }}
			DEV Community
		</a>
	</li>
</ul>