section footer {
  margin-top: 2rem;
}

.blog {
  list-style-type: none;
  list-style-position: outside;
}

.pagination {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pagination a {
  display: inline-flex;
  align-items: center;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
}

.pagination a svg {
  width: 0.85rem;
  height: 0.85rem;
}

.pagination a:first-child svg {
  margin-right: 0.5rem;
}

.pagination a:last-child svg {
  margin-left: 0.5rem;
}

.reading-time {
  display: block;
}

/* Embedded youtube video */
.youtube {
  display: relative;
  width: 100%;
}

.youtube iframe {
  width: 100%;
  height: 100%;
}

/* Tablet YouTube Embed Styles */
@media only screen and (min-width: 480px) {
  .youtube {
    /* The max width of content on the blog is 700px so
     the final result is a 16:9 ratio video embed. 
    */
    height: 393.75px;
  }
}


/* Reduced Motion styles (Remove animations) */
@media (prefers-reduced-motion: reduce) {

  .post-timestamp,
  .reading-time {
    transition: none;
  }
}