.profile-header {
    /* transition: flex-direction 0.5s ease; */
    display: flex;
    flex-direction: column;
}

.profile-header img {
    transition-property: width, height;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100%;
}

@media (min-width: 320px) {
    .profile-header img {
        width: 10rem;
        height: 10rem;
    }
}

@media (min-width: 650px) {
    .profile-header {
        flex-direction: row;
    }

    .profile-header img {
        /* Match section header top margin for */
        margin-top: 1.5em;
        width: 12rem;
        height: 12rem;
    }

    .profile-header > :last-child {
        margin-left: 3rem;
    }
}