@font-face {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/DancingScript-Bold.woff2") format("woff2"),
      url("/fonts/DancingScript-Bold.woff2") format("woff");
}

section.featured {
    margin-top: 2rem;
}

.featured ul {
    list-style-type: none;
	list-style-position: outside;
}

.featured ul li:first-child {
    margin-top: 0;
}

.featured ul li {
    margin-top: 0.25rem;
}

.cta {
    margin-top: 2rem;
}

.beautiful {
    font-weight: var(--font-weight-bold);
    font-variation-settings: 'wght' var(--font-weight-bold);
    background: linear-gradient(45deg, var(--accent-color), #7239B3, #FF385A);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}

.delightful {
    color: var(--accent-color);
    font-family: "Dancing Script";
    font-weight: var(--font-weight-bold);
}