h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

section.featured {
    margin-top: 2rem;
}

.featured ul {
    list-style-type: none;
	list-style-position: outside;
}

.featured ul li:first-child {
    margin-top: 0;
}

.featured ul li {
    margin-top: 0.25rem;
}

.cta {
    margin-top: 2rem;
}