/* || ROOT VARIABLES */

:root {
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  --base-font-size: 16px;
  --max-container-width: 720px;
  --mobile-padding: 1.25rem;
  --desktop-padding: 2.5rem;

  --foreground-color: #060606;

  --accent-color: #1071CB;
  --accent-color-dark: #CD9EF7;
  --accent-color-dark-alt: #7239B3;

  --button-color: #0A4276;;
  --button-color-dark: #3C0A76;

  --input-placeholder-text-color: #7E7E7E;

  --section-border-color: #B4B4B4;
  --footer-section-border-color: #6DB3F3 ;
  --footer-section-border-color-dark: #B593DD;
}

/* || FONTS */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-thin);
  font-display: swap;
  src: url("/fonts/Inter-Thin.woff2") format("woff2"),
       url("/fonts/Inter-Thin.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-extra-light);
  font-display: swap;
  src: url("/fonts/Inter-ExtraLight.woff2") format("woff2"),
       url("/fonts/Inter-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-light);
  font-display: swap;
  src: url("/fonts/Inter-Light.woff2") format("woff2"),
       url("/fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2") format("woff2"),
       url("/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-display: swap;
  src: url("/fonts/Inter-Medium.woff2") format("woff2"),
       url("/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2"),
       url("/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2") format("woff2"),
       url("/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter Variable';
  font-weight: var(--font-weight-thin) var(--font-weight-black);
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}

/* || RESET */

/* From Digital Ocean: https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* || CUSTOM RESETS */

::-moz-placeholder {
  opacity: 1;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
}

body, ul, ol, p {
  font-weight: var(--font-weight-light);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: var(--base-font-size);
  color: var(--foreground-color);
}

@supports (font-variation-settings: normal) {
  body, ul, ol, p {
    font-variation-settings: 'wght' var(--font-weight-light);
  }

  body {
    font-family: "Inter Variable", Arial, Helvetica, sans-serif;
  }
}

/* || TYPOGRAPHY */

h1, h2, h3, h4, h5, h6, #site-name, #back-to-top, #newsletter-form .form-title {
  font-weight: var(--font-weight-regular);
  margin-top: 0.72em;
  margin-bottom: 0.65em;
}

@supports (font-variation-settings: normal) {
  h1, h2, h3, h4, h5, h6, #site-name, #back-to-top, #newsletter-form .form-title {
    font-variation-settings: 'wght' var(--font-weight-regular);
  }
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3, #site-name, #back-to-top {
  font-size: 1.25rem;
}

h4, #newsletter-form .form-title {
  font-size: 1.125rem;
}

h5 {
  font-size: 0.9375rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  margin-bottom: 0.65em;
}

/* || UTILITIES */
  
.container {
  transition-property: padding, width, margin;
  transition-duration: 0.75s;
  transition-timing-function: ease;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--mobile-padding);
}

.stand-out {
  color: var(--accent-color);
}

.call-out {
  margin-top: 1.75rem;
}

.bullet-points {
  list-style-type: disc;
  list-style-position: inside;
}

@media (min-width: 600px) {
  .container {
    padding: 0 var(--desktop-padding);
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 720px;
  }
}

/* || SITEWIDE */

a {
  color: var(--accent-color);
  display: inline-block;
}

a:focus,
input:focus {
  outline-width: 2px;
  outline-color: var(--accent-color);
  outline-style: solid;
}

a:focus {
  outline-offset: 0.25rem;
}

header .container,
footer .container {
  padding-top: var(--mobile-padding);
}

footer .container {
  padding-bottom: var(--mobile-padding);
}

header nav {
  border-bottom: 1px solid var(--section-border-color);
  padding-bottom: 0.75rem;
}

#site-name {
  margin-top: 0;
}

header nav ul {
  margin-top: 0.75rem;
} 

header nav ul li {
  display: inline-block;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
}

main {
  flex: 1 1 0%;
}

section {
  padding-top: 0;
  padding-bottom: 1.5rem;
  border-bottom: solid 1px var(--section-border-color);
}

section:last-child {
  border: 0;
}

svg.icon {
  width: 1.5rem; 
  height: 1.5rem;
  fill: var(--accent-color);
}


.social-links li {
  display: flex;
  margin-top: 0.5rem;
}

.social-links li:first-child {
  margin-top: 0;
}

.social-links li a {
  display: inline-flex;
  align-items: center;
}

.social-links li a svg {
  margin-right: 0.75rem;
}

footer {
	background: var(--accent-color);
  color: white;
}

footer a {
  color: white;
}

footer a:focus,
footer input:focus {
  outline-color: white;
}

footer svg.icon {
  fill: white;
}

#back-to-top {
  display: inline-flex;
  justify-content: flex-start;
  font-weight: var(--font-weight-regular);
  align-items: center;
  margin-top: 0;
}

#back-to-top svg:first-child {
  margin-right: 0.75rem;
}

#back-to-top svg:last-child {
  margin-left: 0.75rem;
}

.extra-site-links {
  border-bottom: 1px solid var(--footer-section-border-color);
  padding-bottom: 1rem;
  margin-bottom: 1.25rem;
}

#newsletter-form {
  display: block;
}

input, label {
  display: block;
  font-weight: var(--font-weight-regular);
}

input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: var(--base-font-size);
  border-radius: 0.25rem;
  padding: 0.4375rem 0.75rem;
  outline-width: 0;
}

input:focus {
  outline-offset: 0;
}

input::placeholder {
  color: var(--input-placeholder-text-color);
}

#newsletter-form input {
  border: 0;
}

input[type="email"] {
  width: 100%;
  max-width: 250px;
}

input[type="email"]:focus {
  outline-color: #060606;
  outline-width: 2px;
}

input[type="submit"] {
  display: block;
  margin-top: 0.5rem;
  padding: 0.4375rem 2rem;
  background-color: var(--button-color);
  color: white;
}

.newsletter-provider {
  margin-top: 0.5rem;
}

@supports (font-variation-settings: normal) {
  #back-to-top,
  label,
  input {
    font-variation-settings: 'wght' var(--font-weight-regular);
  }

  input {
    font-family: "Inter Variable", Arial, Helvetica, sans-serif;
  }
}

@media (min-width: 30rem) {
  #newsletter-form input[type="email"],
  #newsletter-form input[type="submit"] {
    display: inline-block;
    margin-top: 0;
  }

  #newsletter-form input[type="submit"] {
    margin-left: 0.25rem;
  }
}