/* || ROOT VARIABLES */

:root {
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;  
}

/* || FONTS */

/*
 * TODO: Reduce to only font-weights and files actually being used in the site.
 */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-thin);
  font-display: swap;
  src: url("/fonts/Inter-Thin.woff2") format("woff2"),
       url("/fonts/Inter-Thin.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-extra-light);
  font-display: swap;
  src: url("/fonts/Inter-ExtraLight.woff2") format("woff2"),
       url("/fonts/Inter-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-light);
  font-display: swap;
  src: url("/fonts/Inter-Light.woff2") format("woff2"),
       url("/fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2") format("woff2"),
       url("/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-display: swap;
  src: url("/fonts/Inter-Medium.woff2") format("woff2"),
       url("/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2"),
       url("/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2") format("woff2"),
       url("/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter Variable';
  font-weight: var(--font-weight-thin) var(--font-weight-black);
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}

/* || RESET */

/* From Digital Ocean: https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter Variable", Arial, Helvetica, sans-serif;
  }
}

main {
  flex: 1 1 0%;
}

footer {
	background: hsl(180, 20%, 85%);
}


/* || UTILITIES */

/* || SITEWIDE */

.container {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
}