.portfolio {
	list-style-type: none;
	list-style-position: outside;
}

.portfolio > li {
	margin-top: 2.5rem;
}

.portfolio > li:first-child {
	margin-top: 0;
}

.portfolio li > a:first-child {
  font-size: 1.25rem;
  font-weight: var(--font-weight-regular);
  margin-bottom: 0.65em;
}

.portfolio li > a:first-child img {
  margin-bottom: 0.72em;
}

.portfolio > li:first-child {
	margin-top: 0;
}

.github-link {
	margin-top: 0.1rem;
}


@supports (font-variation-settings: normal) {
	.portfolio li > a:first-child {
		font-variation-settings: 'wght' var(--font-weight-regular);
	}
}