{% macro sign_up_block(title) %}
<form action="https://buttondown.email/api/emails/embed-subscribe/colinkiama" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/colinkiama', 'popupwindow')" class="embeddable-buttondown-form newsletter-form">
	{% if title != "" %}
	<p class="form-title">{{title|safe}}</p>
	{% endif %}
	
	<div class="main-form">
		<label class="email-label">
			Email:<br>
			<input type="email" name="email" autocomplete="email" placeholder="my@email.com">
		</label>
		<input type="submit" value="Subscribe">
	</div>
	<a class="newsletter-provider" href="https://buttondown.email?utm_campaign=colinkiama&utm_affiliate=affiliate" target="_blank">Powered by Buttondown</a>
</form>
{% endmacro %}