<table class="overview-table">
    <caption>
        Overview Table
    </caption>

    <tbody>
        <tr>
            <th scope="row">Name</td>
            <td>{{ page.extra.name }}</td>
        </tr>
        <tr>
            <th scope="row">Client</td>
            <td>{{ page.extra.client }}</td>
        </tr>
        <tr>
            <th scope="row">Project Link</td>
            <td><a href="{{ page.extra.link }}">{{ page.extra.link }}</td>
        </tr>
        <tr>
            <th scope="row">Project Type</td>
            <td>{{ page.extra.project_type }}</td>
        </tr>
        <tr>
            <th scope="row">Technologies</td>
            <td>
                {% for tech in page.extra.technologies %}
                {{ tech|safe}}{% if not loop.last %},{% endif %}
                {% endfor%}
            </td>
        </tr>
        <tr>
            <th scope="row">Categories</td>
            <td>
                {% for category in page.extra.categories %}
                {{ category|safe }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>