<table class="overview-table">
    <caption>
        Overview Table
    </caption>

    <tbody>
        <tr>
            <th scope="row">Name</td>
            <td>Last One Flying</td>
        </tr>
        <tr>
            <th scope="row">Client</td>
            <td>Colin Kiama</td>
        </tr>
        <tr>
            <th scope="row">Project Link</td>
            <td><a href="https://colinkiama.itch.io/last-one-flying">https://colinkiama.itch.io/last-one-flying</td>
        </tr>
        <tr>
            <th scope="row">Project Type</td>
            <td>Game</td>
        </tr>
        <tr>
            <th scope="row">Technologies</td>
            <td>Javascript, <a href="https://phaser.io">Phaser.js</a>, <a href="https://bun.sh">Bun</a></td>
        </tr>
        <tr>
            <th scope="row">Categories</td>
            <td>Action, Arcade</td>
        </tr>
    </tbody>
</table>