<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="UTF-8" />
    <meta name="title" content="Colin Kiama" />
    <meta
      name="description"
      content="Developer with experience with .Net (C#, UWP), Java and HTML."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="global.css" />    
    <link rel="icon" href="https://i.imgur.com/PDYGO4X.png" />
</head>
<body>
<header>
 <h1>Colin Kiama</h1>
      <h2>Developer</h2>
      <nav>
        <a href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
      </nav>
</header>
<main>
	{% block content %}
	{% endblock content %}
</main>
<footer>
  <div>Interested in working with me? Want to ask me anything?</div>
  <div id="emailAddressDiv">Email: colinkiama@gmail.com</div>
  <a href="mailto:colinkiama@gmail.com" id="contactMeButton">Email Me</a>
  <br />
  <span>
    <a type="external" href="https://www.gitlab.com/colinkiama">GitLab</a>
    <a type="external" href="https://www.linkedin.com/in/colin-kiama-11962988/">LinkedIn</a>
    <a type="external" href="https://www.twitter.com/colinkiama">Twitter</a>
    <a type="external" href="https://www.instagram.com/colinkiama.tech">Instagram</a>
    <a type="external" href="https://www.producthunt.com/@colinkiama">Product Hunt</a>
  </span>
<div>Colin Kiama - 2020</div>
</footer>
</body>
</html>

