{% extends "base.html" %}
{% block head %}
<title>Colin Kiama's Blog</title>
<link rel="stylesheet" href="/section.css">
<link rel="stylesheet" href="/blog.css">
{% endblock head %}

{% block blog_link_block %}
	<a class="no-underline" href="/">Blog</a>
{% endblock blog_link_block %}

{% block content %}
{% set pager = paginator %}
{% for blog_post in pager.pages %}

<a class="surrounding-link" href="{{blog_post.permalink}}">
<h3 class="item-title">{{blog_post.title}}</h3>
<div>{{blog_post.description}}</div>
<time class="post-timestamp" datetime="{{blog_post.date}}">{{blog_post.date | date}}</time>
</a>

{% endfor %}
{% endblock content %}
