{% extends "base.html" %} {% block head %}
<title>{{page.title}}</title>
<link rel="stylesheet" href="/blog.css">
<link rel="stylesheet" href="/blog-post.css">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@colinkiama">
<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{{page.description}}">
<meta property="og:site_name" content="colinkiama.com">
<meta property="og:type" content="article">
<meta property="og:url" content="{{page.permalink}}">
<meta property="og:image" content="https://ik.imagekit.io/mune/colinkiama-site-logo_2m8Nvn90o34T.png?updatedAt=1606960170047&tr=w-1200,h-675,fo-auto">
{% endblock head %} {% block content %}
<div class="flex-center">
  <article>
    <header>
      <h1>{{page.title}}</h1>
      <time class="post-timestamp" datetime="{{page.date}}">{{page.date | date}}</time>
      <span class="reading-time">Reading time: {{page.reading_time}} {% if page.reading_time == 1 %}Minute{% else %} Minutes{% endif %}</span>
    </header>
    <div class="flex-center blog-content">{{page.content | safe}}</div>

    <hr />
    <br />

    <footer>
      <p>
        <i
          >If you liked this post, feel free to follow me on the accounts listed
          below.</i
        >
      </p>
      <p><i>See you in the next post! 👋</i></p>
    </footer>
  </article>
</div>
{% endblock content %}
