{% extends "base.html" %}
{% block head %}
<title>Colin Kiama</title>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@colinkiama">
<meta property="og:type" content="website">
<meta property="og:url" content="{{section.permalink}}">
<meta property="og:title" content="Colin Kiama"> 
<meta property="og:description" content="Personal website of Colin Kiama, a front-end developer.">
<meta property="og:site_name" content="colinkiama.com">
<meta property="og:image" content="https://ik.imagekit.io/mune/colinkiama-site-logo_2m8Nvn90o34T.png?updatedAt=1606960170047&tr=w-1200,h-675,fo-auto"> 
<link rel="stylesheet" href="/index.css">
{% endblock head %}

{% block home_link_block %}
	<span>Home</span>
{% endblock home_link_block %}


{% block content %}
<header>
<span aria-label="Hi!" class="waving-hand-emoji">👋</span>
</header>

<p>I write code for projects that I feel passionate about.</p>

<p>Feel free to <a class="prefetch" href="{{portfolio_permalink}}">see what I've made. </a>
</p> 
{% endblock content %}
