{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/index.css">
{% endblock head%}

{% block content %}

<header>
<span class="waving-hand-emoji">👋</span>
</header>
<p>I currently work as a front-end developer.</p>

<p>I have experience working with HTML, CSS, PHP, JavaScript and MySQL.</p>

<p>Other languages I have knowledge in and I'm open to working with are: C#, C++, Java and Python</p>

<p>If you want examples of work I've done, check out my <a href="{{portfolio_permalink}}">portfolio</a>
</p> 
{% endblock content %}