{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block head %}
{{ head_macros::og_data(title=section.title, description=section.description) }}
<link rel="stylesheet" type="text/css" href="/css/home.css">
{% endblock %}

{% block main_content %}
{% set featured_data = load_data(path="data/featured.json", format="json") %}

<header>
	<h1>I create <span class="beautiful">beautiful</span>, <span class="delightful">delightful</span> solutions that contribute back to the human experience.</h1>
	{{ newsletter_macros::sign_up_block(title="Subscribe to <em>be the first</em> to know about upcoming projects") }}
</header>

<section class="featured">
	<header>
		<h2>I code, design mockups and write about topics that interest me</h2>
	</header>
	<ul>
		{% for item in featured_data.items %}
		<li>
			<a href="{{ item.url }}">
				{{ item.title }}
			</a>
		</li>
		{% endfor %}
	</ul>

	<div class="cta">
		<a href="{{ get_url(path='/portfolio')}}">See what else I've made</a>
	</div>
</section>

<section>
	<header>
		<h2>Want to work with me?</h2>
	</header>

	<a href="{{ get_url(path='/contact-me') }}">Contact me</a>
</section>
{% endblock main_content %}