{% extends "base.html" %}
{% block head %}
<title>Colin Kiama's Portfolio</title>
<link rel="stylesheet" href="/section.css">
{% endblock head %}

{% block portfolio_link_block %}
	<span class="no-underline">Portfolio</span>
{% endblock portfolio_link_block %}

{% block content %}
{% set portfolio = load_data(path="generators/portfolio.json", format="json") %}

<ul class="no-bullet-list">
{% for project in portfolio["list"] %}
<li class="post-item">

<h3 class="item-title">{{project.title}}</h3>
<a class="image-link" href="{{project["link"]}}">
	<img src="{{project["thumbnail"]}}?tr=w-900" alt="{{project["thumbnail_alt_text"]}}">
</a>
{{project.content | safe}}
<a href="{{project["link"]}}">Check it out</a>	
</li>
{% endfor %}
</ul>
{% endblock content %}