{% extends "base.html" %}
{% block head %}
{% set portfolio = load_data(path="generators/portfolio.json", format="json") %}
<title>Colin Kiama's Portfolio</title>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@colinkiama">
<meta property="og:type" content="website">
<meta property="og:url" content="{{section.permalink}}">
<meta property="og:title" content="Colin Kiama - Portfolio"> 
<meta property="og:site_name" content="colinkiama.com">
<meta property="og:description" content="Projects that I've worked on.">
<meta property="og:image" content="https://ik.imagekit.io/mune/colinkiama-site-logo_2m8Nvn90o34T.png?updatedAt=1606960170047&tr=w-1200,h-675,fo-auto"> 

<link rel="stylesheet" href="/section.css">
<link rel="stylesheet" href="/portfolio.css">
{% for project in portfolio["list"] %}
{% if project.type == "app"%}
 <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "{{project["title"]}}",
      "operatingSystem": "{{project["operatingSystem"]}}",
      "applicationCategory": "{{project["applicationCategory"]}}",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{project["aggregateRating"]["ratingValue"]}}",
        "ratingCount": "{{project["aggregateRating"]["ratingCount"]}}"
      },
      "offers": {
        "@type": "Offer",
        "price": "{{project["offers"]["price"]}}",
        "priceCurrency": "{{project["offers"]["priceCurrency"]}}"
      },
      "url":"{{project["link"]}}",
      "Creator": {
        "@type": "Person",
        "sameAs": "https://www.colinkiama.com"
      }
    }
  </script>
  {% endif %}
{% endfor %}
{% endblock head %}

{% block portfolio_link_block %}
	<span class="no-underline">Portfolio</span>
{% endblock portfolio_link_block %}

{% block content %}
{% set portfolio = load_data(path="generators/portfolio.json", format="json") %}
<ul class="no-bullet-list">
{% for project in portfolio["list"] %}
<li class="post-item">

<h3 class="item-title">{{project.title}}</h3>
<a class="image-link" href="{{project["link"]}}">
	<img src="{{project["thumbnail"]}}?tr=w-900" alt="{{project["thumbnail_alt_text"]}}">
</a>
{{project.content | safe}}
<a href="{{project["link"]}}">Check it out</a>	
</li>
{% endfor %}
</ul>
{% endblock content %}
