{% extends "blog.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block head %}
{{ head_macros::article_og_data(article=page) }}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/portfolio.css">
<link id="giallo-light" rel="stylesheet" type="text/css" href="/giallo-light.css" media="(prefers-color-scheme: light)" />
<link id="giallo-dark" rel="stylesheet" type="text/css" href="/giallo-dark.css" media="(prefers-color-scheme: dark)" />

{% endblock head %}

{% block main_content %}
<article>
  {{ page.content | safe }}

  <footer>
    <a
      href="mailto:{{ config.extra.blog.email }}?subject=Comment on '{{ page.title }}'&body=%0A%0APost link:%20{{ page.permalink }}">Comment
      via email</a>.
  </footer>
</article>
{% endblock main_content %}

{% block aside_block %}
<aside>
	{{ newsletter_macros::sign_up_block(title="Find out when I publish my next blog post <em>before anyone else!</em>") }}
</aside>
{% endblock aside_block %}
