{% extends "base.html" %}
{% block head %}
<title>Colin Kiama's Portfolio</title>
<link rel="stylesheet" href="/section.css">
{% endblock head %}

{% block portfolio_link_block %}
	<a class="no-underline" href="/">Portfolio</a>
{% endblock portfolio_link_block %}

{% block content %}
<ul class="no-bullet-list">
{% for page in section.pages %}
<li class="post-item">
<h3 class="item-title">{{page.title}}</h3>
<a href="{{page.extra.link}}">
	<picture>
		<source srcset="{{page.extra.thumbnail}}?tr=w-520" media="(min-width: 600px)">
		<img src="{{page.extra.thumbnail}}?tr=w-400" alt="{{page.extra.thumbnail_alt_text}}">
	</picture>
</a>
{{page.content | safe}}
<a href="{{page.extra.link}}">Check it out</a>	
</li>
{% endfor %}
</ul>
{% endblock content %}
