{% extends "base.html" %} {% block head %}
<title>{{section.title}}</title>
<link rel="stylesheet" href="/blog.css">
<link rel="stylesheet" href="/blog-post.css">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@colinkiama">
<meta property="og:title" content="{{section.title}}">
<meta property="og:site_name" content="colinkiama.com">
<meta property="og:type" content="article">
<meta property="og:url" content="{{section.permalink}}">
<meta property="og:image" content="https://ik.imagekit.io/mune/colinkiama-site-logo_2m8Nvn90o34T.png?updatedAt=1606960170047&tr=w-1200,h-675,fo-auto">
{% endblock head %} {% block content %}
<div class="flex-center">
  <article>
    <header>
      <h1>{{section.title}}</h1>
    </header>
    <div class="flex-center blog-content">{{section.content | safe}}</div>
    <br />
  </article>
</div>
{% endblock content %}